# Trabalhando com arquivos CSV - Parte 2
### Por Adriano Santos

In [2]:
# Importando o módulo
import pandas as pd

## Importando dados de arquivos

#### Importaremos dados do tipo: csv

###### Informações sobre o dataset
- Base de Coeficiente de Mortalidade Infantil (CMI)
* CMI_binario (binária): se o município tem CMI acima ou abaixo da mediana nacional.
* Prenatal: dados sobre o acompanhamento do prenatal dos municípios.
* CMI: valor do CMI (dados contínuos)
* Renda: renda per capita
* Saneamento: ações de saneamento
* Desemprego: indice de desemprego
* Analfabetismo: indice de analfabetismo
* GINI: desigualdade de distribuição de renda.
* fundamental: indice de ensino fundamental.
* PIB_per_capita: é o produto interno bruto, dividido pela quantidade de habitantes de um país (no caso, do município).

In [3]:
# Criando um dataframe
df = pd.read_csv('../Dados/bancoCMI.csv', delimiter=';')
df.head() # Mostra os 5 primeiros registros

,prenatal,CMI_binario,CMI,renda,saneamento,desemprego,analfabet,Gini,fundamental,PIB_per_capita
0,48.30,1,16.248154,467.72,0.288858,5.01,12.0,0.5893,37.29,13760.40
1,54.04,0,13.203787,672.87,1.174262,4.64,7.9,0.5496,51.30,14315.36
2,40.50,1,14.462810,446.58,0.101266,2.49,13.8,0.5166,36.59,15745.16
3,59.42,0,14.039051,718.79,40.103242,5.87,8.3,0.5890,48.49,14870.59
4,52.52,1,16.806723,553.47,0.093493,5.24,10.4,0.5147,44.23,15997.56

In [7]:
# Sumariza os dados
df.describe().mean()

prenatal            741.746363
CMI_binario         695.999724
CMI                 714.765161
renda              1220.010277
saneamento          724.834747
desemprego          703.989846
analfabet           710.370744
Gini                696.021097
fundamental         727.854673
PIB_per_capita    45251.186844
dtype: float64

In [5]:
# Selecionando apenas algumas colunas do dataframe
novo_df = df[['CMI', 'renda']]
novo_df.head()

         CMI   renda
0  16.248154  467.72
1  13.203787  672.87
2  14.462810  446.58
3  14.039051  718.79
4  16.806723  553.47

In [6]:
# Selecionando um conjunto de colunas específicas de um dataframe de acordo com critérios

df_media = df[df.CMI < 14.642856] # Seleciona apenas os dados que atendem ao critério de CMI < 14.642856
df_media = df_media[['CMI', 'renda']]
df_media.head()

          CMI   renda
1   13.203787  672.87
2   14.462810  446.58
3   14.039051  718.79
10  14.282423  557.06
15  13.574661  720.94