#  Pivot Table

####  As tabelas dinâmicas são uma ótima maneira de resumir, analisar, explorar e apresentar seus dados, e você pode criá-los com apenas alguns cliques.

In [6]:
# Importa o módulo pandas
import pandas as pd
import numpy as np

In [3]:
# Importa os dados para criação do Pivot table
df = pd.read_csv('../Dados/WHO.csv', delimiter=',')
df.columns

Index(['Country', 'Region', 'Population', 'Under15', 'Over60', 'FertilityRate',
       'LifeExpectancy', 'ChildMortality', 'CellularSubscribers',
       'LiteracyRate', 'GNI', 'PrimarySchoolEnrollmentMale',
       'PrimarySchoolEnrollmentFemale'],
      dtype='object')

In [18]:
df.pivot_table(
        index=['Region', 'Country'], 
        values=['Population'], 
        aggfunc={'Population': np.sum}
)

                                                  Population
Region          Country
Africa          Algeria                                38482
                Angola                                 20821
                Benin                                  10051
                Botswana                                2004
                Burkina Faso                           16460
                Burundi                                 9850
                Cameroon                               21700
                Cape Verde                               494
                Central African Republic                4525
                Chad                                   12448
                Comoros                                  718
                Congo                                   4337
                Democratic Republic of the Congo       65705
                Equatorial Guinea                        736
                Eritrea                                 6131
                Ethiopia                               91729
                Gabon                                   1633
                Gambia                                  1791
                Ghana                                  25366
                Guinea                                 11451
                Guinea-Bissau                           1664
                Ivory Coast                            19840
                Kenya                                  43178
                Lesotho                                 2052
                Liberia                                 4190
                Madagascar                             22294
                Malawi                                 15906
                Mali                                   14854
                Mauritania                              3796
                Mauritius                               1240
...                                                      ...
South-East Asia Sri Lanka                              21098
                Thailand                               66785
                Timor-Leste                             1114
Western Pacific Australia                              23050
                Brunei Darussalam                        412
                Cambodia                               14865
                China                                1390000
                Cook Islands                              21
                Fiji                                     875
                Japan                                 127000
                Kiribati                                 101
                Lao People's Democratic Republic        6646
                Malaysia                               29240
                Marshall Islands                          53
                Micronesia (Federated States of)         103
                Mongolia                                2796
                Nauru                                     10
                New Zealand                             4460
                Niue                                       1
                Palau                                     21
                Papua New Guinea                        7167
                Philippines                            96707
                Republic of Korea                      49003
                Samoa                                    189
                Singapore                               5303
                Solomon Islands                          550
                Tonga                                    105
                Tuvalu                                    10
                Vanuatu                                  247
                Viet Nam                               90796

[194 rows x 1 columns]